* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* position: absolute;  */
    /* top: 0;
    left: 0; */
    /* overflow: auto;  */
} 


#scratch{ 
    width: 200px;
    height: 200px;
}

.container {
    position: relative; /* устанавливаем позиционирование как relative */
}
.centered {
    position: absolute; /* устанавливаем позиционирование как absolute */
    top: 50%; /* смещаем верхнюю границу на 50% от высоты родителя */
    left: 50%; /* смещаем левую границу на 50% ширины родителя */
    transform: translate(-50%, -50%); /* смещаем div на половину своей ширины и высоты влево и вверх */
}

img {
    width: 100%; /* устанавливаем ширину картинки равной ширине родителя */
    height: auto; /* устанавливаем высоту картинки автоматической */
}
